<ol>
<% @articles.each do |article| %>
  <div>
    <li>
      <%= form_for @vote, url: votes_path(article), html: {class: 'vote_count'} do |f| %>
      <%= f.hidden_field :user_id, value: current_user ? current_user.id : nil%>
      <%= f.hidden_field :article_id, value: article.id %>
      <%= f.submit "↑" %>
  <% end %>
      <span id="count<%= article.id%>">votes: <%= article.votes.count %></span>
      <% if article.is_a_link? %>
        <a href="<%= article.body%>"><%= article.title%></a>
      <% else %>
  		  <%= link_to article.title, article_path(article) %>
      <% end %>
      <div>  Posted by <%= link_to article.user.username, user_path(article.user) %><br><%= article.comments.count%> Comments</div>
    </li>
  </div>
<% end %>
</ol>

