<div><%= @article.title %></div>
<div><%= @article.body %></div>
<div>
<% if current_user.id == @article.user_id%>
  <%= link_to "Edit article", edit_article_path(@article)%>
  <%= link_to "Delete", @article, method: :delete%>
<% end %>
</div>

<h3>Comments for this article</h3>
<div id = 'comment_area'>
<% @article.comments.each do |comment| %>
  <div class = "comments"><p><%= comment.content %></p></div>
<% end %>
</div>

<%= button_to "Add a comment",  new_article_comment_path(@article), method: :get, form_class: "comment_form"%>

