<div><%= @article.title %></div>
<% if @article.is_a_link? %>
  <a href="<%= @article.body%>"><%= @article.body%></a>
<% else %>
  <div><%= @article.body %></div>
<% end %>

<div>
<% if current_user && current_user.id == @article.user_id%>
  <%= link_to "Edit article", edit_article_path(@article), id: "edit_link"%>
  <%= link_to "Delete", @article, method: :delete%>
<% end %>
</div>

<h3>Comments for this article</h3>
<div id = 'comment_area'>
<% @article.comments.each do |comment| %>
  <div class = "comments"><p><%= comment.content %></p></div>
<% end %>
</div>

<%= render partial: 'comments/form', locals: {article: @article, comment: @comment} %>



