<h2>User: <%= @user.username%></h2>
<p>Here are all <%= @user.username%>'s articles</p>

<% @articles.each do |a| %>
  <div><%= link_to a.title, article_path(a) %></div>
<% end %>


<% if current_user.id == params[:id].to_i %>
  <%= link_to "Create a new article", new_article_path %>
<% end %>

<%= link_to "comments", show_all_path(@user)%>
